node_modules
npm-debug.log
yarn-error.log
.yarn/cache
.yarn/install-state.gz

dist
build
.next
.turbo

*.log
logs

.git
.gitignore
.github

.env
.env.local
.env.*.local

*.md
!README.md

.vscode
.idea
*.swp
*.swo
*~

coverage
.nyc_output
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

cypress
cypress.config.ts

.DS_Store
Thumbs.db

compose
k8s

.prettierrc
.prettierignore
.eslintrc.json
.eslintignore
